body{
    background-image: url(./images/tech2.jpg);
    background-repeat: no-repeat; /* Nao repete a imagem de fundo*/
    background-size: cover;  /*A imagem de fundo cobre toda a area*/

    /* background: url(./images/tech2.jpg) center/cover no-repeat; declarando tudo na mesma linha */

    /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; tem que seguir essa ordem de atributos do background */
}

#principal{
    color: whitesmoke;
   /* background-image: url(./images/tech.jpg); inserir uma imagem de fundo */
   /* background-color: blue; mudar a cor de fundo */

}

#Titulo{
    color: dodgerblue;
}

.texto_verde{
    color: green;
}